@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    font-family: 'Poppins', sans-serif !important;
  }
}

/* Hide all scrollbars globally but keep scroll functionality */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
